<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Contact Us</h2>
    <form action="" method="POST">
        {% for msg in messages %}
        <div class="alert alert-primary" role="alert">
                {{ msg }}
         <strong>Message: </strong>
          </div>
          {% endfor %}
          
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Submit">
    </form>
</body>
</html>